body{
    background: #ffff;
    font-family: 'Raleway', sans-serif;
}

body {
    text-align: center;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200%;
    margin: 0px auto;
    box-sizing: border-box;
    font-size: 100%;
}

header {
    height: 100%;
    padding: 5px
}

h1{ font-family: 'Pacifico';
    color: black;
    font-size: 400%;
    margin: 1%
}

section {
    padding: 10px;
}

h3{
    padding: 3px 0px;
    margin: 3px auto;
}

fieldset {
    border-style: none;
}

input {
    width: 30px; margin: 5px;
    opacity: 0.8;

}

button{
  color: white;
  background-color: #4a494e;
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  margin: 4px;
}

textarea, input {
    border-radius: 15px;
    padding: 8px
}
textarea {
    width: 75%;
    max-width: 400px;
    opacity: 0.8;
}
