body{
    background: #ffff;
    font-family: 'Raleway', sans-serif;
}

body {
    text-align: center;
    background-color: #ECE9D0;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    font-size: 100%;
}

header {  background: #fff;
          height: 100%;
          padding: 20px;

}

h1{
    color: black;
}

h2{ background: #818181;
    padding: 3px 0px;
    margin: 3px auto;
}

fieldset{
  border-style: none;
}

input{width: 30px; margin: 5px}

button{
  color: white;
  background-color: #4a494e;
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  margin: 4px
}


textarea, input{
  border-radius: 15px;
  padding: 8px
}
textarea {
  width: 50%;
  max-width: 400px;
}